.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  border:10px solid red;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > .columns-img-col2 {
  order: 0;
  border:10px solid green;
}

.columns > div > .columns-img-col2 img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
    padding: 50px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    
  }
}
